## Wikipedia Most Sold Books

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
# extra the HTML file

url_path = ('https://en.wikipedia.org/wiki/List_of_best-selling_books')
html_text = requests.get(url_path).text

In [3]:
# see what it looks like

soup = BeautifulSoup(html_text)
#print(soup.prettify())

In [4]:
# I only want the lists of the best-selling individual books
# there are 5 tables of those, split out into those that sold more than 100M copies,
# those that sold 50M-100M copies, 30-50M, 20-30M, and 10-20M
# extract the tables, since they have the list of books in them

wiki_tables = soup.find_all('table', {'class': 'wikitable sortable'})

# repeat this for all of the tables 
first_table = wiki_tables[0].find_all("tr")
second_table = wiki_tables[1].find_all("tr")
third_table = wiki_tables[2].find_all("tr")
fourth_table = wiki_tables[3].find_all("tr")
fifth_table = wiki_tables[4].find_all("tr")

In [5]:
# add them each to lists

first_list = []

for tr in first_table:
    td = tr.find_all('td')
    row = [ele.text.strip() for ele in td]
    first_list.append(row)

second_list = []

for tr in second_table:
    td = tr.find_all('td')
    row = [ele.text.strip() for ele in td]
    second_list.append(row)
    
third_list = []

for tr in third_table:
    td = tr.find_all('td')
    row = [ele.text.strip() for ele in td]
    third_list.append(row)
    
fourth_list = []

for tr in fourth_table:
    td = tr.find_all('td')
    row = [ele.text.strip() for ele in td]
    fourth_list.append(row)
    
fifth_list = []

for tr in fifth_table:
    td = tr.find_all('td')
    row = [ele.text.strip() for ele in td]
    fifth_list.append(row)

In [6]:
fifth_list[:10] # do a quick check of each table

[[],
 ['Totto-chan, the Little Girl at the Window (窓ぎわのトットちゃん)',
  'Tetsuko Kuroyanagi',
  'Japanese',
  '1981',
  '18 million (in Japan and China)[113]'],
 ['Matilda', 'Roald Dahl', 'English', '1988', '17 million [114]'],
 ['The Book Thief', 'Markus Zusak', 'English', '2005', '16 million [115]'],
 ['The Horse Whisperer',
  'Nicholas Evans',
  'English',
  '1995',
  '16 million[116]'],
 ['Goodnight Moon',
  'Margaret Wise Brown',
  'English',
  '1947',
  '16 million[117]'],
 ['The Neverending Story (Die unendliche Geschichte)',
  'Michael Ende',
  'German',
  '1979',
  '16 million[118]'],
 ['Fifty Shades of Grey',
  'E. L. James',
  'English',
  '2011',
  '15.2 million in U.S.[119]'],
 ['The Outsiders', 'S. E. Hinton', 'English', '1967', '15 million[120]'],
 ['Guess How Much I Love You',
  'Sam McBratney',
  'English',
  '1994',
  '15 million[121]']]

In [7]:
# add all of the lists together

best_sellers = first_list + second_list + third_list + fourth_list + fifth_list

In [30]:
# store the list to a pandas dataframe

df = pd.DataFrame(best_sellers, columns=['book', 'author', 'original_language', 'first_published', 'approximate_sales', 'genre'])
df = df.dropna(how='all').reset_index(drop=True)

AttributeError: 'DataFrame' object has no attribute 'desc'

In [31]:
# write the dataframe to a csv file 

df.to_csv('Wikipedia_Best_Sellers.txt')

TypeError: 'DataFrame' object is not callable

In [34]:
top_books = df[(df["book"] =='To Kill a Mockingbird') |
         (df["book"] =='The Book Thief')|
         (df["book"] =='The Da Vinci Code')|
         (df["book"] =='The Little Prince')|
         (df["book"] =='Life of Pi')|
         (df["book"] =='Harry Potter and the Deathly Hallows')|
         (df["book"] =='The Girl with the Dragon Tattoo (M√§n som hatar kvinnor)')]

In [35]:
top_books

,book,author,original_language,first_published,approximate_sales,genre
2,The Little Prince,Antoine de Saint-Exupéry,French,1943,100 million[20],Novella
8,The Da Vinci Code,Dan Brown,English,2003,80 million[26],Mystery thriller
14,Harry Potter and the Deathly Hallows,J. K. Rowling,English,2007,65 million[28],Fantasy
36,To Kill a Mockingbird,Harper Lee,English,1960,40 million[52],
104,The Book Thief,Markus Zusak,English,2005,16 million [115],None
158,Life of Pi,Yann Martel,English,2001,10 million[167],None